@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --main-text: #393336;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-text);
    font-weight: 700;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

nav {
    background-color: #393336;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.cta-link {
    padding-right: 3em;
}

@media only screen and (min-width: 700px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
    }

    .cta {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}